In [ ]:
import pandas as pd

# Data Processing

## Loading the dataset & Data Cleaning

In [ ]:

def load_and_setup_data() -> pd.DataFrame:
    df = pd.read_csv("twitter_training.csv")
    # Setup column names
    df.columns = ["tweet_id","user_id","sentiment","tweet_text"]
    df.drop_duplicates(inplace=True)
    # Remove rows with missing tweet_text
    df.dropna(subset=["tweet_text"], inplace=True)
    return df

df = load_and_setup_data()

In [37]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
tweet_id,71655.0,6436.493559,3742.287116,1.0,3199.0,6433.0,9604.0,13200.0